<section
  id="projects"
  class="projects"
>

  <header
    class="projects__header"
    data-reveal-project
  >
    <p class="eyebrow">
      proyectos/
    </p>

    <h2 class="section-title">
      Cosas que he construido
    </h2>
  </header>


  <div
    class="projects__carousel"
    data-reveal-project
  >

    <button
      class="projects__arrow projects__arrow--prev"
      type="button"
      (click)="prev()"
      aria-label="Proyecto anterior"
    >
      <span>←</span>
    </button>


    <div
      #track
      class="projects__track"
      (scroll)="onTrackScroll()"
      (pointerdown)="onPointerDown($event)"
      (pointermove)="onPointerMove($event)"
      (pointerup)="onPointerUp($event)"
      (pointercancel)="onPointerCancel($event)"
    >

      <article
        *ngFor="
          let p of carouselProjects;
          let i = index
        "
        class="project-card"
        [class.project-card--active]="
          activeIndex() ===
          (i % projects.length)
        "
        (mousemove)="onTilt($event)"
        (mouseleave)="resetTilt($event)"
      >

        <span
          class="project-card__sheen"
          aria-hidden="true"
        ></span>


        <span class="project-card__index">
          {{ p.index }}
        </span>


        <h3 class="project-card__title">

          <span
            *ngIf="p.icon"
            class="project-card__icon"
            aria-hidden="true"
          >
            {{ p.icon }}
          </span>

          {{ p.title }}

        </h3>


        <p class="project-card__desc">
          {{ p.description }}
        </p>


        <ul class="project-card__stack">

          <li
            *ngFor="let technology of p.stack"
          >
            {{ technology }}
          </li>

        </ul>


        <div
          *ngIf="
            p.githubUrl ||
            p.demoUrl
          "
          class="project-card__links"
        >

          <a
            *ngIf="p.githubUrl"
            class="btn"
            [href]="p.githubUrl"
            target="_blank"
            rel="noopener noreferrer"
          >
            GitHub ↗
          </a>


          <a
            *ngIf="p.demoUrl"
            class="btn btn--solid"
            [href]="p.demoUrl"
            target="_blank"
            rel="noopener noreferrer"
          >
            Ver demo ↗
          </a>

        </div>

      </article>

    </div>


    <button
      class="projects__arrow projects__arrow--next"
      type="button"
      (click)="next()"
      aria-label="Siguiente proyecto"
    >
      <span>→</span>
    </button>

  </div>


  <div
    class="projects__dots"
    data-reveal-project
  >

    <button
      *ngFor="
        let p of projects;
        let i = index
      "
      type="button"
      class="projects__dot"
      [class.projects__dot--active]="
        activeIndex() === i
      "
      (click)="scrollToIndex(i)"
      [attr.aria-label]="
        'Ir a ' + p.title
      "
    ></button>

  </div>


  <div
    class="projects__hint"
    aria-hidden="true"
  >
    <span>↔</span>
    <span>Arrastra para explorar</span>
  </div>

</section>